
.plot {
    display: flex;
    flex-direction: column;
    height: 100%;

    border: 1px solid rgb(230, 230, 230);
    background: white;

    .graph-header {
        text-align: center;
        user-select: none;
        cursor: grab;
    }

    .plot-wrapper-outer {
        flex-grow: 1;
        position: relative;

        .plot-wrapper-inner {
            height: 100%;
        }
    }
}
